<component name="ArtifactManager">
  <artifact type="war" name="springmvc文件上传:war">
    <output-path>$PROJECT_DIR$/springmvc文件上传/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc文件上传</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc文件上传.war">
      <element id="artifact" artifact-name="springmvc文件上传:war exploded" />
    </root>
  </artifact>
</component>