<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc集成web环境:war exploded">
    <output-path>$PROJECT_DIR$/springmvc集成web环境/target/springmvc集成web环境</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>springmvc集成web环境</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc集成web环境" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.1.0" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp:javax.servlet.jsp-api:2.2.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.5.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springmvc集成web环境/target/springmvc集成web环境/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springmvc集成web环境/web/Web" />
    </root>
  </artifact>
</component>